@font-face {
  font-family: "Poppins";
  src: url("https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff")
      format("woff");
  font-display: swap;
}

.login-pf {
  background: #f5f5f5 !important;
}
.login-pf body {
  background: #f5f5f5;
  background-size: cover;
  height: 100%;
}

.application-name {
  font-family: Poppins, sans-serif;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  line-height: 21px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; */
  padding: 10px;
  color: #162952;
  text-transform: uppercase;
}

.header-container {
  margin-bottom: 2vh;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  } /* Initial state */
  50% {
    transform: scale(1.1);
  } /* Zoom in */
  100% {
    transform: scale(1);
  } /* Zoom out */
}

.alert-error {
  color: #cc0000;
  animation: zoomInOut 0.9s infinite;
}
/* alert box */
.alert {
  padding: 0;
  text-align: center;
  font-family: Poppins;
  margin-bottom: 0;
}

.login-pf-page .login-pf-settings {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

#kc-locale ul {
  display: none;
  position: absolute;
  background-color: #fff;
  list-style: none;
  right: 0;
  top: 20px;
  min-width: 100px;
  padding: 2px 0;
  border: solid 1px #bbb;
}

#kc-locale:hover ul {
  display: block;
  margin: 0;
}

#kc-locale ul li a {
  display: block;
  padding: 5px 14px;
  color: #000 !important;
  text-decoration: none;
  line-height: 20px;
}

#kc-locale ul li a:hover {
  color: #4d5258;
  background-color: #d4edfa;
}

#kc-locale-dropdown a {
  color: #4d5258;
  background: 0 0;
  padding: 0 15px 0 0;
  font-weight: 300;
}

#kc-locale-dropdown a:hover {
  text-decoration: none;
}

a#kc-current-locale-link {
  display: block;
  padding: 0 5px;
}

/* a#kc-current-locale-link:hover {
    background-color: rgba(0,0,0,0.2);
} */

a#kc-current-locale-link::after {
  content: "\2c5";
  margin-left: 4px;
}

/* .login-pf .container {
  padding-top: 40px;
} */

.login-wrap {
  height: 100vh;
  width: 50vw;
  box-sizing: border-box;
  overflow: auto;
  background-image: url(../img/emp360InnovationsText.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  background-size: contain;
}

.login-pf-page {
  background-image: url(../img/emp360abstract-white-lines-background-minimal-dynamic-shape-3d-rendering.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-attachment: fixed;
  background-size: contain;
  /* background-repeat: no-repeat; */
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-pf a:hover {
  color: #0099d3;
}

#kc-logo {
  width: 100%;
}

#kc-logo-wrapper {
  background-image: url(../img/keycloak-logo-2.png);
  background-repeat: no-repeat;
  height: 63px;
  width: 300px;
  margin: 62px auto 0;
}

div.kc-logo-text {
  background-image: url(../img/keycloak-logo-text.png);
  background-repeat: no-repeat;
  height: 63px;
  width: 300px;
  margin: 0 auto;
}

div.kc-logo-text span {
  display: none;
}

#kc-header {
  color: #ededed;
  overflow: visible;
  white-space: nowrap;
  margin-bottom: 20px;
}

#kc-header-wrapper {
  background-image: url(../img/augment-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 29px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.2em;
  padding: 62px 10px 20px;
  white-space: normal;
}

#kc-content {
  width: 100%;
}

#kc-attempted-username {
  font-size: 20px;
  font-family: inherit;
  font-weight: normal;
  padding-right: 10px;
}

#kc-username {
  text-align: center;
}

#kc-webauthn-settings-form {
  padding-top: 8px;
}

/* #kc-content-wrapper {
    overflow-y: hidden;
} */

/* #kc-info {
  padding-bottom: 200px;
  margin-bottom: -200px;
} */

#kc-info-wrapper {
  font-size: 13px;
}

#kc-form-options span {
  display: block;
}

#kc-form-options .checkbox {
  margin-top: 0;
  color: #72767b;
}

#kc-terms-text {
  margin-bottom: 20px;
}

#kc-registration {
  margin-bottom: 15px;
}

/* TOTP */

.subtitle {
  text-align: right;
  margin-top: 30px;
  color: #909090;
}

.required {
  color: #cb2915;
}

ol#kc-totp-settings {
  margin: 0;
  padding-left: 20px;
}

ul#kc-totp-supported-apps {
  margin-bottom: 10px;
}

#kc-totp-secret-qr-code {
  max-width: 150px;
  max-height: 150px;
}

#kc-totp-secret-key {
  background-color: #fff;
  color: #333333;
  font-size: 16px;
  padding: 10px 0;
}

/* OAuth */

#kc-oauth h3 {
  margin-top: 0;
}

#kc-oauth ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#kc-oauth ul li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 12px;
  padding: 10px 0;
}

#kc-oauth ul li:first-of-type {
  border-top: 0;
}

#kc-oauth .kc-role {
  display: inline-block;
  width: 50%;
}

/* Code */
#kc-code textarea {
  width: 100%;
  height: 8em;
}

/* Social */

#kc-social-providers ul {
  padding: 0;
}

#kc-social-providers li {
  display: block;
}

#kc-social-providers li:first-of-type {
  margin-top: 0;
}

.kc-login-tooltip {
  position: relative;
  display: inline-block;
}

.kc-login-tooltip .kc-tooltip-text {
  top: -3px;
  left: 160%;
  background-color: black;
  visibility: hidden;
  color: #fff;

  min-width: 130px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  padding: 5px;

  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
}

/* Show tooltip */
.kc-login-tooltip:hover .kc-tooltip-text {
  visibility: visible;
  opacity: 0.7;
}

/* Arrow for tooltip */
.kc-login-tooltip .kc-tooltip-text::after {
  content: " ";
  position: absolute;
  top: 15px;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.zocial,
a.zocial {
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  text-shadow: none;
  border: 0;
  background: #f5f5f5;
  color: #72767b;
  border-radius: 0;
  white-space: normal;
}
.zocial:before {
  border-right: 0;
  margin-right: 0;
}
.zocial span:before {
  padding: 7px 10px;
  font-size: 14px;
}
.zocial:hover {
  background: #ededed !important;
}

.zocial.facebook,
.zocial.github,
.zocial.google,
.zocial.microsoft,
.zocial.stackoverflow,
.zocial.linkedin,
.zocial.twitter {
  background-image: none;
  border: 0;

  box-shadow: none;
  text-shadow: none;
}

/* Copy of zocial windows classes to be used for microsoft's social provider button */
.zocial.microsoft:before {
  content: "\f15d";
}
.zocial.stackoverflow:before {
  color: inherit;
}

/* custom css for augment */
.login-pf-page .form-control {
  /* box-shadow: inset -2px -2px 4px rgb(255 255 255 / 50%),
    inset 2px 2px 4px rgb(170 170 204 / 25%),
    inset 5px 5px 10px rgb(170 170 204 / 50%), inset -5px -5px 10px #ffffff; */
  border-radius: 40px;
  border: 1px solid #b7b7b7;
  background: #f5f5f5;
  padding-left: 35px;
  width: 100%;
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #343434;
  opacity: 0.6;
  width: 80% !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #343434;
  opacity: 0.6;
  width: 80% !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #343434;
  opacity: 0.6;
  width: 80% !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

.full-height {
  /* height: calc(100vh - 60px); */
  height: 100vh;
  width: 50vw;
}

.page-footer {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
  background-color: #1f1f1f;
  color: #fff;
}

.footer-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 100px;
}

.footer-text {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 12px;
}
.footer-text p {
  font-family: Inter;
}
.login-pf-page,
.welcome-page-section {
  flex: 1;
  align-self: center;
}
.welcome-page-section {
  flex: none;
  margin: auto;
}

.welcome {
  background-image: url(../img/loginBG.jpg);
  background-color: linear-gradient(180deg, #d9d9d9 0%, #090d2d 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
}
.welcome-text h1 {
  font-size: 40px;
  color: #000;
  font-weight: 700;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.welcome-text ul {
  display: inline-block;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #3d3d3d;
}
.cards-wrapper {
  margin-top: 32px;
}
.welcome-page-card {
  width: 200px;

  float: right;
  background: #f5f5fa;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    5px 5px 10px rgba(170, 170, 204, 0.25),
    10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #ffffff;
  border-radius: 20px;
  padding: 32px 29px 26px 29px;
  margin-bottom: 17px;
}
.welcome-page-card > div {
  padding-left: 15px;
  padding-right: 15px;
}
.welcome-page-card span svg {
  margin-bottom: 17px;
}
.welcome-page-card h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #000000;
  margin: 0;
}
.welcome-page-card p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */
  display: flex;
  align-items: center;
  color: #000000;
  margin-top: 6px;
}
.welcome-page-section a {
  text-align: center;
  color: #3d3d3d;
  opacity: 0.25;
  margin-top: 21px;
  margin-bottom: 6px;
  line-height: 40px;
  text-decoration: underline;
}
.welcome-page-section .btn {
  background: #f5f5fa;
  box-shadow: inset 1px 1px 2px rgba(170, 170, 204, 0.5),
    inset -1px -1px 2px #ffffff;
  border-radius: 40px;
  width: 180px;
  height: 55px;
  width: 180px !important;
  border: none;
  color: #7878ab;
  opacity: 0.25;
  font-size: 18px;
}

.body-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* eror box changes  */
.pficon {
  display: none;
}

@media (min-width: 768px) {
  #kc-container-wrapper {
    position: absolute;
    width: 100%;
  }

  .login-pf .container {
    padding-right: 80px;
  }

  #kc-locale {
    position: relative;
    text-align: right;
    z-index: 9999;
  }
}

@media (max-width: 767px) {
  .login-pf body {
    background: white;
  }

  #kc-header {
    padding-left: 15px;
    padding-right: 15px;
    float: none;
    text-align: left;
  }

  #kc-header-wrapper {
    font-size: 16px;
    font-weight: bold;
    padding: 20px 60px 0 0;
    color: #72767b;
    letter-spacing: 0;
  }

  div.kc-logo-text {
    margin: 0;
    width: 150px;
    height: 32px;
    background-size: 100%;
  }

  #kc-form {
    float: none;
  }

  #kc-info-wrapper {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  #kc-social-providers li {
    display: block;
    margin-right: 5px;
  }

  .login-pf .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #kc-locale {
    position: absolute;
    width: 200px;
    top: 20px;
    right: 20px;
    text-align: right;
    z-index: 9999;
  }

  #kc-logo-wrapper {
    background-size: 100px 21px;
    height: 21px;
    width: 100px;
    margin: 20px 0 0 20px;
  }
}

@media (min-height: 646px) {
  #kc-container-wrapper {
    bottom: 12%;
  }
}

@media (max-height: 645px) {
  #kc-container-wrapper {
    padding-top: 50px;
    top: 20%;
  }
}

.card-pf form.form-actions .btn {
  float: right;
  margin-left: 10px;
}

#kc-form-buttons {
  margin-top: 20px;
}

.login-pf-page .login-pf-brand {
  margin-top: 20px;
  max-width: 360px;
  width: 40%;
}

.card-pf {
  background: transparent;
  border-top: 0;
  box-shadow: 0 0 0;
  margin: 0 !important;
  width: 80%;
}

/* submit btn */
input[type="submit"].btn-block {
  width: 70% !important;
  padding-left: 10px;
  padding-right: 10px;
}

#kc-reset-password-form .form-group {
  width: 100%;
}
/* 
.login-pf-signup {
  margin-top: -10px !important;
} */

/*tablet*/
@media (max-width: 840px) {
  .login-pf-page .card-pf {
    max-width: none;
  }
}
@media (max-width: 767px) {
  .login-pf-page .card-pf {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
  }
  .card-pf.login-pf-accounts {
    max-width: none;
  }
}

#kc-reset-password-form .login-pf-settings {
  width: 97%;
  margin-top: -10px;
}

.login-pf-page .login-pf-signup {
  margin: 0;
  font-size: 15px;
  color: #72767b;
}
.login-pf-page .login-pf-signup a {
  margin-left: 0;
}
.instruction {
  text-align: center;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  } /* Initial state */
  50% {
    transform: scale(1.1);
  } /* Zoom in */
  100% {
    transform: scale(1);
  } /* Zoom out */
}
#input-error-firstname {
  color: red;
  animation: zoomInOut 0.9s infinite;
}
#input-error-lastname {
  color: red;
  animation: zoomInOut 0.9s infinite;
}
#input-error-email {
  color: red;
  animation: zoomInOut 0.9s infinite;
}
#input-error-username {
  color: red;
  animation: zoomInOut 0.9s infinite;
}
#input-error-password {
  color: red;
  animation: zoomInOut 0.9s infinite;
}
#kc-content-wrapper .row {
  margin-left: 0;
  margin-right: 0;
}
.control-label {
  margin-bottom: 8px !important;
}

.form-control:focus {
  box-shadow: none;
  outline: 1px solid #162952;
}
/* form field css  */
#kc-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#kc-reset-password-form {
  width: 100%;
}

.card-pf .form-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#kc-register-form .form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#usericon {
  background-image: url(../img/User.svg);
  background-repeat: no-repeat;
  background-position: 8px 6px;
  margin-bottom: 25px;
}
#passwordicon {
  background-image: url(../img/Password.svg);
  background-repeat: no-repeat;
  background-position: 8px 6px;
}

@media (min-width: 768px) {
  .login-pf-page .login-pf-social-section:first-of-type {
    padding: 0;
    /* padding-right: 39px; */
    /* border-right: 1px solid #d1d1d1; */
    /* margin-right: -1px; */
  }
  .login-pf-page .login-pf-social-section:last-of-type {
    padding: 0;
    border: 0;
    /* padding-left: 40px; */
  }
  .login-pf-page .login-pf-social-section .login-pf-social-link:last-of-type {
    /* margin-bottom: 0; */
  }
  .login-pf-page .login-pf-social {
    margin-top: 20px;
  }
}

/* .login-pf-page .login-pf-social-link {
  margin-bottom: 25px;
} */
.login-pf-page .login-pf-social-link a {
  padding: 2px 0;
  background: none;
}

.login-pf-page.login-pf-page-accounts {
  margin-left: auto;
  margin-right: auto;
}

.login-pf-page .btn-primary {
  margin-top: 0;
  background: #f5f5fa;
  border: 1px solid #b7b7b7;
  background: #162952;
  border-radius: 32px;
  border: none;
  color: #fff;
  margin: auto;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}

.login-pf-page .list-view-pf .list-group-item {
  border-bottom: 1px solid #ededed;
}

.login-pf-page .list-view-pf-description {
  width: 100%;
}

/* .login-pf-page .card-pf {
  margin-bottom: 10px !important;
} */

#kc-form-login div.form-group:last-of-type,
#kc-register-form div.form-group:last-of-type,
#kc-update-profile-form div.form-group:last-of-type {
  margin-bottom: 0px;
}

#kc-back {
  margin-top: 5px;
}

form#kc-select-back-form div.login-pf-social-section {
  padding-left: 0px;
  border-left: 0px;
}

@media only screen and (max-width: 1024px) {
  .welcome {
    display: none;
  }
  .login-wrap {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: auto;
    background-image: none;
    position: relative;
  }
  /* backdrop effect */
  .login-pf-accounts {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7); /* Adjust opacity as needed */
    border-radius: 10px;
  }
  .card-pf {
    background-color: rgba(255, 255, 255, 0.7); /* Adjust opacity as needed */
    border-radius: 10px;
  }
  .login-pf-page {
    background-image: url(../img/loginBG.jpg);
    background-color: linear-gradient(180deg, #d9d9d9 0%, #090d2d 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
  }
  #usericon {
    background-image: url(../img/s-usericon.svg);
    background-repeat: no-repeat;
    background-position: 10px 8px;
    margin-bottom: 25px;
  }
  #passwordicon {
    background-image: url(../img/s-passwordicon.svg);
    background-repeat: no-repeat;
    background-position: 10px 8px;
  }
}

@media only screen and (max-width: 1024px) {
  .small-screen-logo {
    /* display: none; */
  }
  .small-screen-logo-img {
    width: 80px;
  }
  .application-name {
    text-align: center;
  }
}
@media only screen and (min-width: 1025px) {
  .small-screen-logo {
    display: none;
  }
}

@media (max-width: 767px) {
  .card-pf.login-pf-accounts {
    width: 60%;
    transform: scale(2);
  }
}

@media (max-width: 320px) {
  .card-pf.login-pf-accounts {
    width: 80%;
  }
}

@media (max-width: 320px) {
  input[type="submit"].btn-block {
    width: 70% !important;
  }
  .small-screen-logo-img {
    /* margin-top: -20% !important; */
  }
}
@media only screen and (min-width: 1024px) {
  .small-screen-logo-img {
    /* margin-top: -40% !important; */
  }
}

@media (max-width: 767px) {
  .small-screen-logo-img {
    /* margin-top: -40% !important; */
  }
}

@media only screen and (max-width: 1024px) {
  .small-screen-logo-img {
    /* margin-top: -40% !important; */
  }
}

.small-screen-logo {
  text-align: center;
}

/* @media only screen and (max-width: 1024px) {
  .card-pf .login-pf-accounts {
    transform: scale(2);
  }
} */
.card-pf.login-pf-accounts {
  transform: scale(1);
}

@media screen and (min-width: 2000px) and (max-width: 2800px) {
  .card-pf.login-pf-accounts {
    transform: scale(1.7);
  }
}

@media screen and (min-width: 1400px) and (max-width: 2000px) {
  .card-pf.login-pf-accounts {
    transform: scale(1.3);
  }
}
