body,
html {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  min-height: 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  height: 100%;
}
body {
  margin: 0;
}
.login-content {
  width: 30%;
  background-size: cover;
  background-position: center;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.login-content .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 100%;
  padding: 20px;
}
.login-content .box .box-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.login-content .box .logo {
  margin-top: 50px;
}
.login-content .box .application-name {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: #000000;
}
.login-content .box .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.login-content .box .login-field {
  width: 100%;
  height: 35px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  /* text-align: center; */
  color: #000000;
  border: none;
  border: 1px solid #bcbcbc;
  border-radius: 20px;
  outline: none;
  background-color: #fff;
  padding-left: 35px;
}
.login-content .box input[type="text"]:focus,
.login-content .box input[type="password"]:focus {
  border-bottom: 2px solid #fbb511;
}
.login-content .box input[type="text"]:-webkit-autofill,
.login-content .box input[type="password"]:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}
.login-content .box .submit {
  width: 147px;
  height: 40px;
  border-radius: 50px;
  background-color: #fbb511;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-style: none;
  cursor: pointer;
}
.login-content .box .visibility {
  position: relative;
  left: 296px;
  top: 20px;
  width: 24px;
  height: 24px;
  opacity: 0.54;
  border: none;
}
.login-content .box .copyright {
  position: relative;
  color: #4d4d4d99;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  margin: unset;
}
.message-text {
  opacity: 0.87;
  font-family: Muli;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  color: #b8082a;
  border: 0px;
}
.identity-providers {
  width: 270px;
  font-family: Muli;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: -0.4px;
  text-align: left;
  color: #0055b8;
  margin-left: 32px;
  margin-top: 20px;
}

.login-content .box .social-link-style {
  width: 320px;
  height: 36px;
  border-radius: 2px;
  background-color: var(--white);
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f26922;
  border-style: solid;
  border-color: #f26922;
  margin-top: 0px;
  margin-bottom: 10px;
}

.login-content .box .para {
  font-family: Muli;
  font-size: 14px;
  margin-left: 30px;
}

.login-content .box .application-data {
  text-align: center;
}

#usericon {
  background-image: url(../img/User.png);
  background-repeat: no-repeat;
  background-position: 9px 10px;
}

.passwordicon {
  background-image: url(../img/Password.png);
  background-repeat: no-repeat;
  background-position: 9px 10px;
}

.loginHeading-image {
  height: 25px;
  width: 20px;
}

/* .application-subHeading {
} */

.box1 {
  width: 70%;
  height: auto;
  background: linear-gradient(180deg, #fbb511 0%, rgba(0, 0, 0, 0) 100%);
  background-image: url(../img/Group\ 24042058.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.image1 {
  text-align: center;
}

.image1 img {
  display: block;
  margin: auto;
}

.alert {
  text-align: center;
}
.copyright {
  text-align: center;
  color: gray;
}

.log-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.rights {
  width: 30%;
  position: absolute;
  bottom: 1%;
}
@media only screen and (min-width: 992px) {
  .login-content {
    width: 30%;
  }
  /* .box1 {
    width: 70%;
  } */
}
