/* Base Styles */
body,
html {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  min-height: 0;
  font-size: 14px; /* Base font size */
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  height: 100%;
  font-family: "Inter", sans-serif; /* Apply Inter font to the entire document */
}

/* Container Styles */
.login-page-container {
  background: radial-gradient(circle at top right, #0046FF 20%, transparent 30%);
  width: 100%; 
  height: 100%; 
  box-sizing: border-box; 
  position: relative;      /* Positioning context for absolute children */
  display: flex;           /* Enable Flexbox on the container */
  flex-direction: column;  /* Align items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center;
  overflow: hidden;        /* Ensure no overflow outside the container */
}



/* Logo Styles */
.login-page-logo {
  position: absolute;      /* Absolute positioning for top-center alignment */
  top: 1rem;               /* Margin from the top */
  left: 50%;               /* Center horizontally */
  transform: translateX(-50%); /* Adjust horizontal position to be centered */
}

.logo {
  min-width: 15rem;        /* Minimum width of the logo in rems */
  max-width: 40rem;        /* Increase maximum width of the logo in rems */
  height: auto;            /* Maintain aspect ratio */
}

/* Copy rights text */
.rights {
  position: absolute;
  bottom: 1rem; /* Adjust as needed */
  text-align: center;
  font-size: 0.875rem; /* Adjust font size as needed */
  align-items: center;
}


.font-text-blue {
  color:#0046FF;
    /* background: linear-gradient(0deg, #0C87F0, #0C87F0),
                linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; For non-WebKit browsers */
}

.main-container {
  box-sizing: border-box;
  /* border: solid 2px blue; */
  display: flex;
  flex-direction: row;
  width: 90%;
  /* padding: 5rem 5rem 5rem 5rem; */
  justify-content: flex-end; /* Centers content horizontally within the container */
  align-items: flex-end; /* Centers content vertically within the container */
  position: absolute; /* Position the container relative to the viewport */
  top: 55%; /* Move the container down 50% of the viewport height */
  left: 50%; /* Move the container right 50% of the viewport width */
  transform: translate(-50%, -50%); /* Offset the container to center it exactly */
}


/* Form Stylings */


.login-form-container {
    width: 60%;
    /* border: solid 2px magenta;   */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem; /* Add padding on the right as well */
    padding-bottom: 2rem; /* Add padding at the bottom */
    box-sizing: border-box; /* Ensure padding is included in the container's width */
    min-height: 400px; /* Set a minimum height for the container */
}

.introduction-content-container{
    margin-bottom: 2rem;
    box-sizing: border-box;
    /* border: solid 2px red; */
    width: fit-content;
    display: flex;
    flex-direction: column; /* Ensure the content inside is laid out vertically */
    justify-content: center; /* Align content at the bottom */
    height: 100%; /* Make sure the container takes up the full available height */
    padding: 0rem 4rem 0rem 4rem;
    text-align: center;
    align-items: center;
}

.form-input-container {
    /* border: solid 2px red; */
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
    position: relative; /* Relative positioning for positioning children */
    /* border: solid 2px blue; */ 
}

/* Password Field */
.password-field {
    position: relative; /* Position relative to place the icon */
}

.password-input {
    width: 100%;
    height: 35px;
    font-family: "Inter", sans-serif !important;
    font-size: 1rem;
    color: #4A5568;
    border: 1px solid #8D8D8D;
    border-radius: 12px;
    outline: none;
    background-color: #fff;
    padding-left: 1rem;
    padding-right: 2.5rem; /* Add padding on the right to make space for the icon */
}

/* Password Toggle Icon */
.password-toggle {
    position: absolute;
    padding: 0.5rem;
    right: 0rem; /* Position the icon inside the input field, adjust as needed */
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    height: 24px; /* Adjust the size of the icon */
    width: 24spx; /* Adjust the size of the icon */
    border-left: solid 1px #CFD9E0;
}

/* Example styles for other elements (not changed) */
.input-field {
    width: 100%;
    box-sizing: border-box;
    height: 3.3rem;
    font-family: "Inter", sans-serif !important;
    font-size: 1rem;
    color: #4A5568;
    border: 1px solid #8D8D8D;
    border-radius: 12px;
    outline: none;
    background-color: #fff;
    padding-left: 1rem;
}


.remember-me-div{
    /* border: solid 1px red; */
    display: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.submit-btn {
    width: 100%;
    /* padding: 10px; */
    background-color: #0046FF;
    color: white;
    border: none;
    border-radius: 1.2rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    height: 3.3rem;

    box-shadow: 0px 13px 37px 0px #00000036;

  
  }
  
  .submit-btn:hover {
    background-color: #4c73e0;
  }

  .login-form-title{
    font-size: 28px;
    background: linear-gradient(358.9deg, #0046FF -6.03%, #0095FF 144.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }

  .forgot-password-text{
    color: #0046FF;
  }

.remember-me-text{
    color: #8D8D8D !important;
}


.introducing-cyberwasp-text{
    font-weight: 300;
    width: 96%;
    color: #8D8D8D;
    text-align: center;

}


.alert {
  text-align: center;
  position: absolute;
  right:65%;
  top:90%;
  transform: translateY(-45%);
}


.alert-message-icon-div {
    box-sizing: border-box;
    margin-top: 2rem; /* Add some space above the error message */
    border: none; /* Remove the border */
    border-radius: 8px; /* Rounded corners for the container */
    color: #ff0000; /* Red text color for error messages */
    text-align: center; /* Center text inside the container */
    width: fit-content; /* Set the width to 100% of the form container */
    display: flex; /* Use Flexbox for alignment */
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Center the content horizontally */
    gap: 0.1rem;
    /* margin-top: 37rem; */
    /* transform: translate(-50%, -10%); */
}

.error-msg-icon {
    margin-right: 0.5rem;   
    height: 24px; /* Set the height of the icon */
    width: 24px; /* Set the width of the icon */
    flex-shrink: 0; /* Prevent icon from shrinking */
}

.message-text {
    flex: 1;       
    border: none; /* Remove border if unnecessary */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    font-size: 1rem; /* Adjust font size as needed */
    flex-grow: 1; /* Allow text to take up remaining space */
  }

.alert-message-icon-div-error {
    box-sizing: border-box;
   
    margin-top: 0rem; /* Space above the error message */
    margin-right: 0rem; /* Remove space to the right */
    margin-left: 0rem; /* Ensure no space to the left */
    /* border: solid 1px red; */
    border-radius: 8px; /* Rounded corners for the container */
    color: #ff0000; /* Red text color for error messages */
    
    width: auto; /* Adjust width to fit the content or container */
    padding: 1rem; /* Add padding for better spacing inside the container */
    text-align: left; /* Ensure text is aligned to the left */
}

.forgot-password-form-title{

  font-size: larger;
  /* border: solid 2px red; */
  /* font-size: 28px; */
  
  background: linear-gradient(358.9deg, #0046FF -6.03%, #0095FF 144.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Forgot password */
#kc-reset-password-form {
 
  /* Basic Container Styles */
  padding: 2rem; /* Padding inside the container */
  min-width: 30%;
  max-width: 40rem; /* Maximum width for the form */
  margin: 0 auto; /* Center the form horizontally */
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.control-label {

  color:#0046FF;

  /* background: linear-gradient(0deg, #0C87F0, #0C87F0),
              linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;  */

}

.form-horizontal input{
  width: 100%;
  box-sizing: border-box;
  height: 3.3rem;
  font-family: "Inter", sans-serif !important;
  font-size: 1rem;
  color: #4A5568;
  border: 1px solid #8D8D8D;
  border-radius: 12px;
  outline: none;
  background-color: #fff;
  padding-left: 1rem;
  margin-top: 1rem;
 }

 #kc-form-buttons input[type="submit"] {
  width: 100%;
  /* padding: 10px; */
  background-color: #0046FF;
  color: white;
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  height: 3.3rem;
  box-shadow: 0px 13px 37px 0px #00000036;
 }
 




/* Media Queries */

/* Mobile Devices (Portrait) */
@media (max-width: 480px) {
  body,
  html {
    font-size: 12px; /* Adjust font size for smaller screens */
  }

  .login-page-container {
    background: radial-gradient(circle at top right, #0046FF 2%, transparent 2%); /* Adjust gradient for smaller screens */
    border-width: 3px; /* Smaller border for mobile devices */
  }

  .logo {
    max-width: 25rem;  /* Adjust logo size for mobile devices */
  }

  .rights {
    font-size: 0.75rem; /* Smaller font size for mobile devices */
  }
}

/* Mobile Devices (Landscape) and Tablets (Portrait) */
@media (min-width: 481px) and (max-width: 768px) {
  body,
  html {
    font-size: 13px; /* Adjust font size for medium screens */
  }

  .login-page-container {
    background: radial-gradient(circle at top right, #0046FF 18%, transparent 18%); /* Adjust gradient for tablets */
    border-width: 4px; /* Slightly larger border for tablets */
  }
  .alert{
    top:100%
  }

  .logo {
    max-width: 30rem;  /* Increase logo size for tablets */
  }

  .rights {
    font-size: 0.8rem; /* Adjust font size for tablets */
  }
}

/* Tablets (Landscape) and Small Desktops */
@media (min-width: 769px) and (max-width: 1024px) {
  body,
  html {
    font-size: 14px; /* Default font size for tablets and small desktops */
  }

  .login-page-container {
    background: radial-gradient(circle at top right, #0046FF 20%, transparent 20%); /* Default gradient */
    border-width: 5px; /* Default border size */
  }
  .alert{
    top:85%
  }
  .logo {
    max-width: 35rem;  /* Increase logo size for tablets and small desktops */
  }

  .rights {
    font-size: 0.875rem; /* Default font size for tablets and small desktops */
  }
}

/* Desktops and Larger Screens */
@media (min-width: 1025px) {
  body,
  html {
    font-size: 16px; /* Larger font size for bigger screens */
  }

  .login-page-container {
    background: radial-gradient(circle at top right, #0046FF 22%, transparent 22%); /* Default gradient */
    border-width: 5px; /* Default border size for larger screens */
  }

  .alert{
    top:90%
  }

  .logo {
    max-width: 40rem;  /* Increase logo size for larger screens */
  }

  .rights {
    font-size: 1rem; /* Larger font size for larger screens */
  }
}

/* Large Desktops and Ultra-Wide Screens */
@media (min-width: 1440px) {
  body,
  html {
    font-size: 18px; /* Increase font size for ultra-wide screens */
  }

  .login-page-container {
    background: radial-gradient(circle at top right, #0046FF 25%, transparent 25%); /* Adjust gradient for larger screens */
    border-width: 6px; /* Slightly larger border for larger screens */
  }

  .alert{
    top:90%;
    
  }
  .login-page-logo {
    top: 4rem;               /* Margin from the top */
 
  }

  .logo {
    max-width: 50rem;  /* Increase logo size for ultra-wide screens */
  }

  .rights {
    font-size: 1.2rem; /* Larger font size for ultra-wide screens */
  }
}

/* Font Variations */
.inter-light {
  font-weight: 100;
}

.inter-regular {
  font-weight: 400;
}

.inter-bold {
  font-weight: 700;
}
