/* Base Styles */
body,
html {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  min-height: 100%;
  font-size: 14px; /* Base font size */
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  height: 100%;
  font-family: "Inter", sans-serif; /* Apply Inter font to the entire document */
}

:root {
  --quarter-circle-size: 30rem;
}

a {
  text-decoration: none;
}
/* Container Styles */
.login-page-container {
  /* background: radial-gradient(circle at top right, #0046FF 20%, transparent 30%); */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;           /* Enable Flexbox on the container */
  flex-direction: column;  /* Align items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center;
  overflow: hidden;        /* Ensure no overflow outside the container */
}
 
.container {
  position: relative;
  width: 100%;
  height:95%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
}
.display-alert-message{
  align-self: center;
}

.quarter-circle {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #4b00ff;
  width: var(--quarter-circle-size);
  height: var(--quarter-circle-size);
  border-radius: 0 0 0 var(--quarter-circle-size);
}
 
/* Logo Styles */
.login-page-logo {
  position: absolute;      /* Absolute positioning for top-center alignment */
  top: 1rem;               /* Margin from the top */
  left: 50%;               /* Center horizontally */
  transform: translateX(-50%); /* Adjust horizontal position to be centered */
}
 
.logo {
  width: 15rem;        /* Minimum width of the logo in rems */
  height: auto;            /* Maintain aspect ratio */
}
 
/* Copy rights text */
.rights {
  position: absolute;
  bottom: 1rem; /* Adjust as needed */
  text-align: center;
  font-size: 0.875rem; /* Adjust font size as needed */
  align-items: center;
}
 
#input-error-password{
  color:#ff0000;
  font-size: 12px;
  padding-left: 5px;
}
 
#input-error-username{
  color:#ff0000;
  font-size: 12px;
  padding-left: 5px;
}
 
 
.font-text-blue {
  color:#0046FF;
  font-size: 1rem;
    /* background: linear-gradient(0deg, #0C87F0, #0C87F0),
                linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; For non-WebKit browsers */
}
.intro-header-blue{
  color:#0046FF;
font-size:1.4rem;
}
 
 
.introducing-cyberwasp-text{
  font-weight: 300;
  color: #8D8D8D;
  text-align: center;
  font-size: 1rem;
}
 
.login-form-title{
  font-size: 1.4rem;
  background: linear-gradient(358.9deg, #0046FF -6.03%, #0095FF 144.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
}
 
 
 
.main-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;

}
 
.login-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;height:90%;max-height:45rem;
  
}
 
.login-form-container {
  width: 60%;height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  box-sizing: border-box;
}
 
.recaptcha {
  min-height:78px;
  width: 100%;  /* Ensures it spans the container width */
}
 
.forgot-password-container{
  position: relative;
}

.error{
  position: absolute;
  bottom:5%
}
 
.introduction-content-container{
    /* margin-bottom: 2rem; */
    box-sizing: border-box;
    width: 70%;
    display: flex;
    flex-direction: row; /* Ensure the content inside is laid out vertically */
    justify-content: center; /* Align content at the bottom */
    height: 30%; /* Make sure the container takes up the full available height */
    padding: 0rem 2rem;
    text-align: center;
    align-items: flex-end;
    align-self: flex-end;
}
 
.form-input-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    position: relative; /* Relative positioning for positioning children */
    /* border: solid 2px blue;  */
}
 
/* Password Field */
.password-field {
    position: relative; /* Position relative to place the icon */
}
 
.password-input {
    width: 100%;
    height: 35px;
    font-family: "Inter", sans-serif !important;
    font-size: 1rem;
    color: #4A5568;
    border: 1px solid #8D8D8D;
    border-radius: 12px;
    outline: none;
    background-color: #fff;
    padding-left: 1rem;
    padding-right: 2.5rem; /* Add padding on the right to make space for the icon */
}
 
/* Password Toggle Icon */
.password-toggle {
    position: absolute;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    right: 0rem; /* Position the icon inside the input field, adjust as needed */
    top: 67%;
    transform: translateY(-50%);
    cursor: pointer;
    height: 24px; /* Adjust the size of the icon */
    width: 24spx; /* Adjust the size of the icon */
    border-left: solid 1px #CFD9E0;
}
 
/* Example styles for other elements (not changed) */
.input-field {
    width: 100%;
    box-sizing: border-box;
    height: 3.3rem;
    font-family: "Inter", sans-serif !important;
    font-size: 1rem;
    color: #4A5568;
    border: 1px solid #8D8D8D;
    border-radius: 12px;
    outline: none;
    background-color: #fff;
    padding-left: 1rem;
}
 
 
.remember-me-div{
    /* border: solid 1px red; */
    display: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 
.submit-btn {
    width: 100%;
    /* padding: 10px; */
    background-color: #0046FF;
    color: white;
    border: none;
    border-radius: 1.2rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    height: 3.3rem;
    margin-bottom: 3rem;
    box-shadow: 0px 13px 37px 0px #00000036;
 
  
  }
  
  .submit-btn:hover {
    background-color: #4c73e0;
  }
 
 
  .forgot-password-text{
    color: #0046FF;
  }
 
.remember-me-text{
    color: #8D8D8D !important;
}
 

 
.error-msg-icon {
    margin-right: 0.5rem;   
    height: 24px; /* Set the height of the icon */
    width: 24px; /* Set the width of the icon */
    flex-shrink: 0; /* Prevent icon from shrinking */
}
 

.forgot-password-form-title{
  font-size: larger;
  /* font-size: 28px; */
  margin-bottom: 24px;
  background: linear-gradient(358.9deg, #0046FF -6.03%, #0095FF 144.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
 
/* Forgot password */
#kc-reset-password-form {
 
  width: 37%;
  /* Basic Container Styles */
  padding: 2rem; /* Padding inside the container */
  margin: 0 auto; /* Center the form horizontally */
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* max-width: 40rem; */

}
 
.control-label {
 
  color:#0046FF;
  padding-left: 5px;
  /* background: linear-gradient(0deg, #0C87F0, #0C87F0),
              linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;  */
 
}

.form-horizontal input{
  width: 100%;
  box-sizing: border-box;
  height: 3.3rem;
  font-family: "Inter", sans-serif !important;
  font-size: 1rem;
  color: #4A5568;
  border: 1px solid #8D8D8D;
  border-radius: 12px;
  outline: none;
  background-color: #fff;
  padding-left: 1rem;
  margin-top: 0.4rem;
}
 
#kc-form-buttons input[type="submit"] {
  width: 100%;
  /* padding: 10px; */
  background-color: #0046FF;
  color: white;
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  height: 3.3rem;
  box-shadow: 0px 13px 37px 0px #00000036;
}
 
#kc-passwd-update-form{
  width:30%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
 
#input-error-password-confirm{
  color:#ff0000;
  font-size: 12px;
  padding-left: 5px;
}
 
/* Media Queries */
/* Mobile Devices (Portrait) */
@media screen and (max-width: 480px) {
  body,
  html {
    font-size: 12px; /* Adjust font size for smaller screens */
  }
 
  .login-section{
    flex-direction: column;
  }
 
 
  .login-page-containesr {
    /* background: radial-gradient(circle at top right, #0046FF 2%, transparent 2%); Adjust gradient for smaller screens */
    border-width: 3px; /* Smaller border for mobile devices */
  }
 
 
  .rights {
    font-size: 0.75rem; /* Smaller font size for mobile devices */
  }
}
 
/* Mobile Devices (Landscape) and Tablets (Portrait) */
@media screen and (min-width: 481px) and (max-width: 768px) {
  body,
  html {
    font-size: 13px; /* Adjust font size for medium screens */
  }
 
 
  .login-section{
    flex-direction: column;
  }
 
 
 
  .login-page-container {
    /* background: radial-gradient(circle at top right, #0046FF 15%, transparent 15%); Adjust gradient for tablets */
    border-width: 4px; /* Slightly larger border for tablets */
  }

 
 
 
  .rights {
    font-size: 0.8rem; /* Adjust font size for tablets */
  }
}
 
/* Tablets (Landscape) and Small Desktops */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body,
  html {
    font-size: 14px; /* Default font size for tablets and small desktops */
  }
 
  .login-page-container {
    /* background: radial-gradient(circle at top right, #0046FF 20%, transparent 20%); Default gradient */
    border-width: 5px; /* Default border size */
  }
 

  .alert-message-icon-div{
    width:60%;
  }
  .logo {
    max-width: 35rem;  /* Increase logo size for tablets and small desktops */
  }
 
  .rights {
    font-size: 0.875rem; /* Default font size for tablets and small desktops */
  }
}
 
/* Desktops and Larger Screens */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-size: 16px; /* Larger font size for bigger screens */
  }
 
  .login-page-container {
    /* background: radial-gradient(circle at top right, #0046FF 22%, transparent 22%); Default gradient */
    border-width: 5px; /* Default border size for larger screens */
  }
 
 
.alert-message-icon-div{
    width:35%;
  }
  
 
  .logo {
    max-width: 40rem;  /* Increase logo size for larger screens */
  }
 
  .rights {
    font-size: 1rem; /* Larger font size for larger screens */
  }
}
 
/* Large Desktops and Ultra-Wide Screens */
@media screen and (min-width: 1440px) {
  body,
  html {
    font-size: 18px; /* Increase font size for ultra-wide screens */
  }
 
  .login-page-container {
    /* background: radial-gradient(circle at top right, #0046FF 25%, transparent 25%); Adjust gradient for larger screens */
    border-width: 6px; /* Slightly larger border for larger screens */
  }
 
  .login-page-logo {
    top: 2rem;               /* Margin from the top */
 
  }
 
  .logo {
    max-width: 50rem;  /* Increase logo size for ultra-wide screens */
  }
 
  .rights {
    font-size: 1.2rem; /* Larger font size for ultra-wide screens */
  }
}
 
/* Font Variations */
.inter-light {
  font-weight: 100;
}
 
.inter-regular {
  font-weight: 400;
}
 
.inter-bold {
  font-weight: 700;
}
 
 
 
/* Regular submit button styling */
.submit-btn {
  background-color: #0046FF; /* Regular color */
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
}
 
/* Disabled state styling */
.submit-btn.disabled {
  background-color:#0046FF; /* Disabled color */
  cursor: not-allowed;
  opacity: 0.3; /* Optional: make it slightly transparent to indicate it's disabled */
 
}

 
/* Additional styling for when the button is not disabled */
.submit-btn:not(.disabled):hover {
  background-color: #0056b3; /* Darker shade for hover */
}

@media screen and (min-width:320px) and (max-width:768px){
  .main-container{
    flex-direction: column;
  }
  .login-form-container{
    width:60%;
    transform: scale(0.9);
  }
  .introduction-content-container{
    display: none;
  }
  
}
 
 
@media screen and (min-width:2560px){
  .logo {
    width: 25rem;  /* Increase logo size for ultra-wide screens */
  }
 
  .intro-header-blue{
    font-size:2.4rem;
 
  }
  .introducing-cyberwasp-text{
    font-size: 1.8rem;
  }
  .font-text-blue{
    font-size: 1.5rem;
  }
  .login-form-title{
    font-size: 2.5rem;
  }
  .forgot-password-text {
    font-size: 1.5rem;
  }
  
  .submit-btn {
 
    font-size: 1.5rem;
  }
  .forgot-password-form-title b{
    font-size: 2rem;
  }
  .control-label{
    font-size: 1.2rem;
  }
 
  .btn{
    font-size:1.5rem !important
  }
  a{
    font-size: 1.5rem;
  }

  
}


/* For 4K Screens (3840px) */
@media (min-width: 2560px) and (max-width: 3840px) {
 
  :root {
    --quarter-circle-size: 30rem;
  }
 
}
 
/* For QHD Screens (2560px) */
/* @media (min-width: 1921px) and (max-width: 2559px) {
  .login-section{
    max-height: 34rem;
  }
 
  :root {
    --quarter-circle-size: 28rem;
  }
} */
 
/* Large Screens (1920px) */
@media (min-width: 1441px) and (max-width: 1920px) {
 
  .login-section{
    max-height: 34rem;
  }
  :root {
    --quarter-circle-size: 25rem;
  }
}
 
/* Medium Screens (1366px) */
@media (min-width: 1025px) and (max-width: 1440px) {
  .login-section{
    max-height: 36rem;
  }
  
  :root {
    --quarter-circle-size: 20rem;
  }
}
 
/* Small Devices (Portrait Tablets and Large Phones) */
@media (max-width: 1024px) {
 
  .login-section{
    max-height: 37rem;
  }
  :root {
    --quarter-circle-size: 18rem;
}
}
 
/* Extra Small Devices (Landscape Phones) */
@media (max-width: 768px) {
  .logo {
    max-width: 12rem;  /* Increase logo size for tablets */
  }
  #kc-passwd-update-form{
    width:50%;
  }
  :root {
    --quarter-circle-size: 13rem;
}
}
 
/* Extra Extra Small Devices (Portrait Phones) */
@media (max-width: 480px) {
  .login-form-container{
    width:100%;
  }
  :root {
    --quarter-circle-size: 10rem;
}
}
 
@media (max-width: 375px) {
  .g-recaptcha{
    margin-left:-1.2rem;
    transform: scale(0.9);
  }
  
}


/* Extra Extra Extra Small Devices (Small Portrait Phones) */
@media (max-width: 360px) {
  
  .g-recaptcha{
    margin-left:-3.4rem;
    transform: scale(0.7);
  }
  :root {
    --quarter-circle-size: 6rem;
  }
}


@media screen and (min-width: 2000px) and (max-width: 2600px) {
  .login-form-container {
    transform: scale(1.2);
    margin-left: 100px;
  }
  .introduction-content {
    transform: scale(1.2);
    margin-bottom: -41px;
  }
  .logo{
    width: 27rem;
  }
  .recaptcha{
    transform: scale(1.5);
    margin-left: 475px;
    margin-bottom: 20px;
  }
  .forgot-password-form-title {
    transform: scale(1.2);
  }
  #kc-reset-password-form {
    transform: scale(1.4);
  }
  .success-message{
    transform: scale(1.4);
  }
  #input-error-username {
    font-size: 21px;
  } 
  .input-field {
    font-size: 1.3rem;
  }
  .password-toggle {
    transform: scale(1.4);
    top: 58%;
    right: 0.6rem;
  }
  #kc-reset-password-form{
    width: 28%;
  }
  .forgot-password-form-title {
    margin-bottom: 80px;
  } 
  .warning-message {
    font-size: 1.6rem;
  }
  #kc-passwd-update-form {
    transform: scale(1.2);
  }
  #alert-message {
    margin-top: 40px;
  }
  /* .error-icon {
    width: 40px;
    height: 26px;
  } */
  /* .error-message{
    font-size: 1.2rem;
    padding: 15px;
  } */
  .form-horizontal input {
    font-size: 1.3rem;
  }
  .control-label {
    font-size: 1.4rem;
  }
  .success-message {
    font-size: 0.95rem;
  }
  .error-message{
    transform: scale(1.2);
    font-size: 1.1rem;
  }
  .error-icon {
    width: 25px;
    height: 25px;
  }
  #input-error-password {
    font-size: 24px;
  }
  #input-error-password-confirm {
    font-size: 24px;
  }
}


@media screen and (min-width: 1025px) and (max-width: 1440px) {
  #input-error-username {
    font-size: 18px;
  } 
  .success-message {
    font-size: 0.9rem;
  }
  .forgot-password-form-title {
    font-size: 25px;
  }
  #kc-passwd-update-form {
    width: 38%;
  }
  #password-new {
    height: 2.8rem;
    font-size: 1rem;
  }
  #password-confirm {
    height: 2.8rem;
    font-size: 1rem;
  }
  .btn-block{
    height: 2.8rem !important;
  }
  .introduction-content {
    transform: scale(1.1);
  }
  #input-error-password {
    font-size: 18px;
  }
  #input-error-password-confirm {
    font-size: 18px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .recaptcha{
    transform: scale(0.9);
    margin-left: -28px;
  }
  .input-field {
    height: 2.5rem;
    font-size: 0.9rem;
  }
  .submit-btn {
    height: 2.5rem;
  }
  .form-horizontal input{
    height: 2.5rem;
    font-size: 0.9rem;
  }
  #kc-form-buttons input[type="submit"] {
    height: 2.5rem;
  }
  .success-message {
    font-size: 0.7rem;
    padding: 5px;
  }
  .warning-message {
    font-size: 0.72rem
  }
  .error-message{
    font-size: 0.8rem;
    padding: 5px;
  }
  #input-error-username {
    font-size: 15px;
  } 
  .introduction-content {
    margin-bottom: 54px;
  }
  #input-error-password {
    font-size: 16px;
  }
  #input-error-password-confirm {
    font-size: 16px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .input-field {
    height: 2.5rem;
    font-size: 0.9rem;
  }
  .submit-btn {
    height: 2.5rem;
  }
  .form-horizontal input{
    height: 2.5rem;
    font-size: 0.9rem;
  }
  #kc-form-buttons input[type="submit"] {
    height: 2.5rem;
  }
  .recaptcha{
    transform: scale(0.8);
    margin-left: -60px;
  }
  #kc-passwd-update-form {
    transform: scale(0.8);
  }
  .forgot-password-form-title {
    margin-bottom: 4px;
  }
  .warning-message {
    transform: scale(0.7);
    margin-top: -10px;
  }
  #input-error-password {
    font-size: 15px;
  }
  #input-error-password-confirm {
    font-size: 15px;
  }
  .error-message {
    font-size: 0.8rem;
    padding: 5px;
  }
  .error-icon {
    width: 16px;
    height: 17px;
  }
  .success-message {
    font-size: 0.77rem;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  #kc-reset-password-form{
    width: 55%;
  }
  .recaptcha{
    transform: scale(0.8);
    margin-left: -55px;
  }
  #password-new {
    height: 2.5rem;
    font-size: 0.9rem;
  }
  #password-confirm {
    height: 2.5rem;
    font-size: 0.9rem;
  }
  .btn-block{
    height: 2.5rem !important;
  }
  .warning-message {
    font-size: 0.7rem;
  } 
  .forgot-password-form-title {
    font-size: 18px;
  }
  #kc-passwd-update-form {
    width: 65%;
  }
  .error-message {
    font-size: 0.8rem;
    padding: 5px;
  }
  .error-icon {
    width: 16px;
    height: 17px;
  }
  .success-message {
    padding: 5px;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  #kc-reset-password-form{
    width: 55%;
  }
  .recaptcha{
    transform: scale(0.8);
    margin-left: -50px;
  }
  .font-text-blue {
    padding-left: 5px;
  }
  #password-new {
    height: 2.5rem;
    font-size: 0.9rem;
  }
  #password-confirm {
    height: 2.5rem;
    font-size: 0.9rem;
  }
  .btn-block{
    height: 2.5rem !important;
  }
  .warning-message {
    font-size: 0.7rem;
  } 
  .forgot-password-form-title {
    font-size: 18px;
  }
  #kc-passwd-update-form {
    width: 65%;
  }
  .success-message {
    padding: 5px;
  }
  .error-message {
    font-size: 0.8rem;
    padding: 5px;
  }
  .error-icon {
    width: 16px;
    height: 17px;
  }
}

@media screen and (min-width: 260px) and (max-width: 320px) {
  #kc-reset-password-form{
    width: 65%;
  }
  .recaptcha{
    transform: scale(1);
  }
  .font-text-blue {
    padding-left: 5px;
  }
  #password-new {
    height: 2.5rem;
    font-size: 0.9rem;
  }
  #password-confirm {
    height: 2.5rem;
    font-size: 0.9rem;
  }
  .btn-block{
    height: 2.5rem !important;
  }
  .warning-message {
    font-size: 0.7rem;
  } 
  .forgot-password-form-title {
    font-size: 18px;
  }
  #kc-passwd-update-form {
    width: 65%;
  }
  .error-message {
    font-size: 0.85rem;
    padding: 5px;
  }
  .error-icon {
    width: 14px;
    height: 18px;
  }
  .success-message {
    padding: 5px;
  }
}