body,
html {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  min-height: 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  height: 100%;
}
body {
  margin: 0;
}
/* 
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: url('https://fonts.googleapis.com/css2?family=Poppins');
  font-display: swap;
} */
@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2') format('woff2'),
       url('https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff') format('woff');
  font-display: swap;
}
/* @font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: url('https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2') format('woff2'),
       url('https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff') format('woff');
  font-display: swap;
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')
}
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: url('https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2') format('woff2'),
       url('https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff') format('woff');
  font-display: swap;
} */



.login-content {
  width: 30%;
  background-size: cover;
  background-position: center;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.login-content .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 100%;
  padding: 20px;
}
.login-content .box .box-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* .login-content .box .logo {
  margin-top: 50px;
} */
.login-content .box .application-name {
  font-family: Poppins, sans-serif;
  font-size: 35px;
  font-weight: 300px;
  font-style: normal;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: #000036;
}
.login-content .box .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.login-content .box .login-field {
  width: 100%;
  height: 35px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  /* text-align: center; */
  color: #000000;
  border: none;
  border: 1px solid #bcbcbc;
  border-radius: 20px;
  outline: none;
  background-color: #fff;
  padding-left: 35px;
}
.login-content .box input[type="text"]:focus,
.login-content .box input[type="password"]:focus {
  border-bottom: 2px solid #000036;
}
.login-content .box input[type="text"]:-webkit-autofill,
.login-content .box input[type="password"]:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}
.login-content .box .submit {
  width: 147px;
  height: 40px;
  border-radius: 50px;
  background-color: #016beb;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-style: none;
  cursor: pointer;
}
.login-content .box .visibility {
  position: relative;
  left: 296px;
  top: 20px;
  width: 24px;
  height: 24px;
  opacity: 0.54;
  border: none;
}
.login-content .box .copyright {
  position: relative;
  color: #4d4d4d99;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  margin: unset;
}
.message-text {
  opacity: 0.87;
  font-family: Muli;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  color: #b8082a;
  border: 0px;
}
.identity-providers {
  width: 270px;
  font-family: Muli;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: -0.4px;
  text-align: left;
  color: #0055b8;
  margin-left: 32px;
  margin-top: 20px;
}

.login-content .box .social-link-style {
  width: 320px;
  height: 36px;
  border-radius: 2px;
  background-color: var(--white);
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f26922;
  border-style: solid;
  border-color: #f26922;
  margin-top: 0px;
  margin-bottom: 10px;
}

.login-content .box .para {
  font-family: Muli;
  font-size: 14px;
  margin-left: 30px;
}

.login-content .box .application-data {
  text-align: center;
}

#usericon {
  background-image: url(../img/User.png);
  background-repeat: no-repeat;
  background-position: 9px 10px;
}

.passwordicon {
  background-image: url(../img/Password.png);
  background-repeat: no-repeat;
  background-position: 9px 10px;
}

.loginHeading-image {
  height: 25px;
  width: 20px;
}

/* .application-subHeading {
} */

.box1 {
  width: 70%;
  height: auto;
  background: linear-gradient(180deg, #378ad8 0%, rgba(133, 131, 131, 0) 100%);
  background-image: url(../img/Main-Bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 78%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.banner-sub-text {
  font-family: Poppins;
  font-size: 2.188rem;
  font-weight: 300;
  line-height: 2.875rem;
  letter-spacing: 0em;
  text-align: right;
  color: #000036;
}

.sub-icons {
  width: 26%;
}

.sub-icons-heading {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: left;
  color: #000036;
}
.icons-sub-text {
  font-family: Poppins, sans-serif;
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1.125rem;
  letter-spacing: 0em;
  text-align: left;
  color: #000036;
}

.footer-main-heading {
  font-family: Poppins, sans-serif;
  font-size: 1.063rem;
  font-weight: 600;
  line-height: 1.625rem;
  letter-spacing: 0.04em;
  text-align: left;
  padding-left: 5%;
  color: #000000;
}
.footer-sub-text {
  font-family: Poppins, sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.04em;
  text-align: left;
  padding-left: 5%;
  margin-top: -1%;
  color: #000000;
}
.alert {
  text-align: center;
}
.copyright {
  font-family: Roboto, sans-serif;
  text-align: center;
  color: gray;
}

.log-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.rights {
  width: 30%;
  position: absolute;
  bottom: 1%;
}

/* update form styles */
.login-content .form-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.form-group .form-control {
  height: 35px;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  color: #000000;
  border: none;
  border: 1px solid #bcbcbc;
  border-radius: 20px;
  outline: none;
  background-color: #fff;
  padding-left: 25px;
}
/* #password-new::before{
  content: "New Password";
  color: #000000;
} */
span {
  font-family: poppins, sans-serif;
}
a{
  text-decoration: none;
  color: #016beb;
}
label {
  font-family: poppins, sans-serif;
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.control-label {
  padding-left: 15px;
  margin-bottom: 30px;
}
.form-group .btn-lg {
  width: 147px;
  height: 40px;
  border-radius: 50px;
  background-color: #016beb;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  border-style: none;
  cursor: pointer;
}
#kc-form-buttons {
  display: flex;
  justify-content: center;
}
#kc-form-options {
  margin-top: -10px;
  margin-bottom: 15px;
  
  & span{
    font-size: 0.9rem !important;
    padding-left: 0.4rem;
  }
}
.log-container b {
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  margin-bottom: 5%;
  text-align: center;
}

.login-content .box .box-container {
  transform: scale(1);
}

.logo {
  transform: scale(1);
  margin-bottom: 8vh;
}

.form-group div span {
  color: red;
  padding-left: 1rem;
  font-size: 0.7rem;
}

@media only screen and (min-width: 992px) {
  .login-content {
    width: 30%;
  }
  /* .box1 {
    width: 70%;
  } */
}

@media only screen and (max-width: 1024px) {
  .box1 {
    display: none;
  }
  .login-content {
    background: linear-gradient(
      180deg,
      #378ad810,
      #378ad870
    );
    /* background-image: url(../img/Main-Bg.png); */
    width: 100%;
  }
  .rights {
    width: 100%;
    position: absolute;
    bottom: 1%;
  }
}

/* @media (min-width: 600px) and (max-width: 800px) {
  .login-content{
    transform: scale(1.2);
  }
  .logo {
    transform: scale(1.2);
    margin-bottom: 18vh;
  }
  .rights {
    transform: scale(1.2);
  }
}
@media (min-width: 200px) and (max-width: 500px) {
  .login-content{
    transform: scale(2);
  }
  .logo {
    transform: scale(2);
    margin-bottom: 18vh;
  }
  .rights {
    transform: scale(2);
  }
} */
